.m6b {
  background-image: url("kuvat/m6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.m5b {
  background-image: url("kuvat/m5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.m4b {
  background-image: url("kuvat/m4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.m3b {
  background-image: url("kuvat/m3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.m2b {
  background-image: url("kuvat/m2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.m1b {
  background-image: url("kuvat/m1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.k1b {
  background-image: url("kuvat/k1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.k2b {
  background-image: url("kuvat/k2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.k3b {
  background-image: url("kuvat/k3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.k4b {
  background-image: url("kuvat/k4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.k5b {
  background-image: url("kuvat/k5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.k6b {
  background-image: url("kuvat/k6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.h1b {
  background-image: url("kuvat/bedroom.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.h2b {
  background-image: url("kuvat/bedroom.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.h3b {
  background-image: url("kuvat/kitchen.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.h4b {
  background-image: url("kuvat/sofa.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.h5b {
  background-image: url("kuvat/stairs.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.h6b {
  background-image: url("kuvat/garden.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



