body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-areas:
        "moi"
        "nav"
        "banner"
        "content";
}

/* HEADER (moi) */
div.moi {
    grid-area: moi;
    background: #FCCB00;
    padding: 20px;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
}

.logo {
    width: 120px;
}

/* NAV */
header {
    grid-area: nav;
}

nav {
    display: flex;
    gap: 20px;
    background: #F7D54E;
    padding: 10px;
}

nav section {
    background-color: #f7d54e;
    padding: 10px 20px;
    border-radius: 20px;
}

nav section:hover {
    background-color: #f7d85b;
}

/* BANNER */
.banner {
    grid-area: banner;
    width: 100%;
    height: auto;
}

/* CONTENT + SIDEBAR GRID */
.content-area {
    grid-area: content;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
}

/* SIDEBAR */
.info {
    background: rgb(233, 187, 61);
    padding: 20px;
    border-radius: 10px;
}

/* REVIEWS */
.review {
    background: #f2f2f2;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}
